import(fda)

importFrom(grDevices, colors, rainbow)
importFrom(graphics, "lines", "plot", "abline", "boxplot", "curve", "par", "plot.default")
importFrom(stats, "as.dist", "dist", "quantile", "var", "coef", "lm", "nlm", "nls", "optim", "resid", "uniroot")


export(fit.tracevariog)
export(l2.norm)
export(okfd)
export(okfd.cv)
export(plot.geofd)
export(trace.variog)

S3method(plot,geofd)